---
title: Welcome to Middleman
---

<section>
  <article>
    <p><%=lorem.paragraph%></p>
    <p><%=lorem.paragraph%></p>
    <p><%=lorem.paragraph%></p>
    <p><%=lorem.paragraph%></p>
    <p><%=lorem.paragraph%></p>
    <p><%=lorem.paragraph%></p>
  </article>
</section>
